<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>
<p> <strong>Scene instant:</strong>
<% @personne.scenes.each do |scene| %>
		<td><%= scene.instant %>,</td>
	<% end %>
</p>
<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
