<p id="notice"><%= notice %></p>

<p>
  <strong>Recit:</strong>
  <%= @scene.recit %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @scene.lieu %>
</p>

<p>
  <strong>Instant:</strong>
  <%= @scene.instant %>
</p>

<p>
  <strong>Chapitre:</strong>
  <%= @scene.chapitre_id %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
