<h1>Listing chapitres</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Titre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chapitres.each do |chapitre| %>
      <tr>
        <td><%= chapitre.numero %></td>
        <td><%= chapitre.titre %></td>
        <td><%= link_to 'Show', chapitre %></td>
        <td><%= link_to 'Edit', edit_chapitre_path(chapitre) %></td>
        <td><%= link_to 'Destroy', chapitre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapitre', new_chapitre_path %>
