<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @chapitre.numero %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @chapitre.titre %>
</p>

<p>
  <strong>Sujet des Anecdotes :</strong>
  <% @chapitre.anecdotes.each do |anecdote| %>
	<td><%= anecdote.sujet %>,</td>
	<% end %>
</p>

<p>
  <strong>Recit des Scenes :</strong>
  <% @chapitre.scenes.each do |scene| %>
	<td><%= scene.recit %>,</td>
	<% end %>
</p>



<%= link_to 'Edit', edit_chapitre_path(@chapitre) %> |
<%= link_to 'Back', chapitres_path %>
