<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Assistant", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Chapitre",    chapitres_path %></li>
          <li><%= link_to "Scene",    scenes_path %></li>
          <li><%= link_to "Anecdote",    anecdotes_path %></li>
          <li><%= link_to "Personne",    personnes_path %></li>
          <li><%= link_to "Recapitulatif des Personnes",    recappersonnes_path %></li>
          <li><%= link_to "Recapitulatif de Chapitre",    recapchapitre_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>